.header {
  top: 0;
  display: flex;
  background: rgb(2, 50, 77);
  position: sticky;
  color: white
}

.test_case_count {
  width: 30px;;
}

.header_information {
  margin-top: 15px;
  margin-left: 30px;
  width: 35%;
}

.calendar.section {
  display: flex;
}

.header_actions {
  display: flex;
  margin-left: auto;
}

.drop_range {
  margin-right: 50px;
}