.btn {
  padding: 5px;
  margin: 5px;
  text-align: left;
}

.btn.active {
  border-bottom: blue;
  font-weight: bold;
}

.regular_blue {
  background: rgba(63, 153, 148, 0.3);
}

.circle_white {
  border-radius: 10%;
  border-color: white;
  color: white;
}

.btn.large {
  height: 50px;
}

.btn.normal {
  height: 40px;
}

.btn.small {
  height: 30px;
}